        body {
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            font-family: 'Segoe UI', sans-serif;;
        }
        header {
            background-color: #008B8B;
            color: #fff;
            padding: 14px;
            text-align: center;
            font-size: 24px;
            font-family: 'Segoe UI', sans-serif;
            font-weight: bold;
            border-bottom: 2px solid #93E9BE;
        }
        h1 {
            background-color: #008B8B;
            padding: 5px;
            font-size: 16px;
            font-weight: normal;
            font-family: 'Segoe UI', sans-serif;
            text-align: center;
            margin: 0px;
            color: #FFFFFF;
            border-top-left-radius: 5px; /* Rounds the top left corner */
            border-top-right-radius: 5px; /* Rounds the top right corner */
        }

        .container {
            max-width: 1000px;
            margin: 50px auto;
            background-color: #fff;
            padding: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
        }
        form {
            font-family: 'Segoe UI', sans-serif;
        }
        .create-post-form {
            margin-bottom: 0px;
            font-family: 'Segoe UI', sans-serif;
            
        }
        .create-post-form input[type="text"] {
            width: calc(100% - 40px); 
            font-family: 'Segoe UI',  sans-serif;
            padding: 10px 20px; 
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 16px;
        }
        .sendPost {
            padding: 10px 20px;
            background-color: #008B8B;
            font-family: 'Segoe UI', sans-serif;
            color: #fff;
            border: 1px solid #93E9BE; /* seafoam green border */
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        }

        .sendPost:hover {
            background-color: #05696b; /* Darker shade for hover effect */
        }
        .menu {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            font-family: 'Segoe UI', sans-serif;
        }
        select {
            font-family: 'Segoe UI', sans-serif;
            color: #008B8B;
            border-color: #05696B;
        }
        #posts .post {
            font-family: 'Segoe UI', sans-serif;
            border: 1px solid #93E9BE;
            padding: 6px;
            margin-bottom: 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0, 0.1);
            max-width: 1000px;
            margin: 6px auto;
        }

        .post h3 {
            text-align: right;
            margin: 0;
            margin-bottom: 10px;
            color: #93E9BE; /* seafoam green */
            display: inline-block; /* makes it inline */
        }

        .post .score, .post .tag {
            color: #aaa;
        }

        .post .author {
            color: #aaa;
            font-size: 10px;
        }
        .ens-link {
            color: #FFB81C;
            font-size: 18px;
            font-weight: bold;
        }
        .downvote-button, .submit-tag, .submit-reply {
            background-color: #008B8B; /* madstea */
            color: #fff;
            border: none;
            padding: 4px 10px;
            margin: 4px 3px 0;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Segoe UI', sans-serif;
            border: 1px solid #93E9BE;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        }

        .upvote-button, .tag-button, .reply-button {
            background-color: #008B8B; /* madstea */
            color: #fff;
            border: none;
            padding: 4px 10px;
            margin: 4px 3px 0;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Segoe UI', sans-serif;
            font-weight: bold;
            border: 1px solid #93E9BE;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        }

        .upvote-button:hover, .downvote-button:hover, .tag-button:hover, .reply-button:hover, .contribute-button:hover, .submit-tag:hover, .submit-reply:hover {
            background-color: #05696B; /* dark aqua on hover */
        }
        table {
            width: 100%;
            margin-top: 5px;
        }

        tr .one-sixth {
            width: 16.67%; /* 1/6 of the table width */
            text-align: center;
        }

        tr .two-thirds {
            width: 66.66%; /* 2/3 of the table width */
        }
        .post-content img {
            width: 100%;
            margin: 0;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        }

        .post-content video, .post-content iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            margin: 0;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        }

        .tag-container img, .tag-container iframe, .tag-container video {
            max-width: 64px;
            border-radius: 2px;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        }
        .tag-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .tag-container a {
            font-family: 'Segoe UI', Tahoma, Geneva, 'Segoe UI', sans-serif; /* Consistent with the body font */
            font-size: 20px; /* Larger font size for emphasis */
            color: #008B8B; /* Using the header background color for text */
            font-weight: bold; /* Bold font for a more playful look */
            margin-right: 2px; /* Removed the margin as per your request */
            margin-left: 2px;
            text-shadow: 1px 1px 2px rgba(147, 233, 190, 0.7); /* Soft shadow for a bubbly effect */
        }
        h1 a {
            color: #93E9BE;
            font-size: 16px;
            font-weight: bold;
        }
        .address-link {
            color: #aaa;
            font-size: 13px;
            font-weight: normal;
        }
        .pdf-container {
            text-align: center;
            margin: 0 auto;
            width: 95%;
        }

        .pdf-container iframe {
            width: 100%;
            height: 800px; /* You can adjust this value */
        }
        /* Styling for the clickable replies in its normal state */
        #clickableReplies {
            cursor: pointer;
            background-color: transparent; /* Make background transparent */
            color: #008B8B; /* Use the theme color for the text to match the color scheme */
            text-decoration: none; /* Remove underline by default */
            padding: 5px; /* Optional: for easier clickability */
            font-size: 16px; /* Match the font size to the rest of the design */
            border: none; /* Remove borders if any */
        }

        /* Styling for the clickable replies on hover */
        #clickableReplies:hover {
            text-decoration: underline; /* Add underline on hover to indicate it's clickable */
            color: #006767; /* Optional: darken the color on hover for visual feedback */
        }

        .menu a:visited {
            color: #582C83; /* Replace with your desired shade of sewanee purple */
        }
        .menu a {
            color: #008B8B;
        }
        .postInfo {
            font-family: 'Segoe UI', sans-serif;
        }
        #replyContent {
            text-align: left;
        }
        #noTagMessage {
            font-family: 'Segoe UI', sans-serif;
            text-align: center;
        }
        .input-field-tag, .input-field-reply {
            width: 40%; 
            font-family: 'Segoe UI',  sans-serif;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
